.checkoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
}

.summary {
  width: 100%;
  margin-top: 1.25rem;
  padding: 0.9375rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  background: #f9f9f9;
}

.summary h2 {
  margin-bottom: 0.625rem;
}

.summary p {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0.3125rem 0;
}

.oldPrice {
  text-decoration: line-through;
  color: #888;
}

.discount {
  color: red;
  font-weight: bold;
}
