@use 'src/shared/styles/global.module.scss' as global;

.authCard {
  @extend %card;

  width: 20rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
}
